html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'sj_sansregular','Fontawesome';
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

#top-menu{
    height: 66px;
    border-bottom: 1px gray;
}
#content{
    max-width: 960px;
    margin: 0 auto;
}

#top-tabs{
    background: #ebebe3;
    padding: 1rem 0;
}

#list-pagination{
    text-align: right;
}

pre{
    font-weight: bold;
}

.cat-news, .cat-blog, .cat-subscribe, .cat-kpi, .cat-train{
    min-width: 44px;
    min-height: 44px;
    line-height: 44px;
    text-align: center;
}
.cat-news{
    background: #7FDBEF;

}
.cat-blog{
    background: #00AE49;

}
.cat-subscribe{
    background: #74786D;

}
.cat-kpi{
    background: #EFDF02;

}
.cat-train{
    background: #00AE49;

}


